@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.blogs_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: #f6efeb;
}
.blog_parent
{
    display: flex;
    justify-content: space-between;
    
    width: 70%;
    padding: 2rem;
}
.blog_open {
    background: #ffffff;
    border: 1px solid #FB923C;
    border-radius: 10px;
    padding: 10px 20px;
}
.blog_open_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .collapsed {
    margin: 0.5rem 0;
    padding: 0;
    color: #FB923C;
    font-family: "Poppins";
    font-weight: normal;
} */
.accordion-item {
    border-radius: 0.3rem;
    padding: 0.5rem 0;
}

.accordion_div {
    margin:0 1rem;
     padding: 0.5rem 0;
}
.accordion-header {
    /* margin: 0.5rem 0 ; */
    padding: 0;
    color: #FB923C;
    font-family: "Poppins";
    font-weight: normal;
}
.blog_open_header span {
    color: #FB923C;
    font-size: 1.4rem;
}
.accordion-button:not(.collapsed) {
    color: #FB923C;
    font-family: "Poppins";
    font-weight: normal;
    background: #ffffff;
   box-shadow: none;
}
.accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FB923C'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,0.125);
}

.accordion-button .collapsed {
    color: #41414A;
    font-family: "Poppins";
    font-weight: normal;
    box-shadow: none;
}
.accordion-button {
    padding: 0.5rem 1.5rem;
}
.accordion-body {
   
    color: #60606B;
    font-family: "Poppins";
    font-weight: normal;
    line-height: 1.6;
    font-size: 0.7rem;
}
.blog {
    margin:  1rem 0;
    border: 1px solid #dadada;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
.blog h5 {
    font-family: "Poppins";
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #41414A;
}
.blog_left,.blog_right {
    margin: 0 1rem ;
    width: 50%;
}
.blog_right {
    height: 100%;
   margin-top: 0;
}
 .blog_right > .blog {
    flex: 1;
}