@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.customerCard_container {
    border-radius: 5px;
    background: #FFFFFF;
    padding: 1rem 2rem;
    max-width: 25vw;
    height: 250px;
    margin:  1rem ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(0,0,0,0.3) 1px 2px 2px 1px;
}
.customerCard_container img {
  margin-top: 0.5rem;
}
.customerCard_container h5 {
  color: #000000;
  font-family: 'Poppins';
  font-style: bold;
  margin: 0.5rem 0;
}
.text {
    flex: 1 0 0;
    margin-top: 0.5rem;
    padding: 0;
    color: #000000;
  font-family: 'Poppins';
  line-height: 1.5;
  font-style: normal;
  font-size: 12px;
}
.customerName {
   
    color: #818181;
    font-family: 'Poppins';
    font-style: normal;
}
