@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.footer_container {
    width: 100vw;
    background: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.footer_parent {
    width: 70%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer_header {
    margin-bottom: 1rem;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}
.footer_header img {
    background-color: #2D2D2D;
    border-radius: 50%;
}
.footer_header h3 {
    font-family: 'Poppins';
   font-style: bold;
   color: #D1D1D1;
   margin: 0 1rem ;
}
.footer_text p {
    font-family: 'Poppins';
    color: #9F9F9F;
    line-height: 1.6;
    font-weight: normal;
}