@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.intro_container {
    padding-top: 5rem;
    width: 100vw;
    background: #FEFBFD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.intro_header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FB923C;
}
.intro_container h2 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
color: #41414A;
/* margin: 0; */
margin-bottom: 1.5rem;
}
.intro_text {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
line-height: 1.6;
color: #41414A;
}
.available {
    margin:  2rem 0;
    border-radius: 5px;
    border: 2px solid #FB923C;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58vw;
}
.available_left_header {
    font-family: 'Poppins';
    font-style: semiBold;
    margin: 0;
    padding: 0;
    color: #41414A;
}
.available_left_text {
    font-family: 'Poppins';
    font-style: normal;
    margin:  0.5rem 0;
    padding: 0;
     color: #60606B;
     font-size: 14px;
}
.call_button {
    margin-top: 1rem;
    background: #FB923C;
border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px;
color: #ffffff;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
cursor: pointer;
}
.call_button img {
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 1rem;
}